{% extends "layout.html" %}

{% block title %}Новини{% endblock %}

{% block body %}
{% for entry in entries %}
<article>
  <header>
    <h1 class="entry-title">
      {{ entry.title }}
    </h1>
    <p class="meta">
      <time datetime="{{ entry.date | strftime("%Y-%m-%dT%H:%M:%SZ") }}" pubdate data-updated="true">
        {{ entry.date | strftime }}
      </time>
      {% if session.logged_in %} |
      <a href="{{ url_for('del_entry', post_id=entry.id) }}">Видалити</a>
      {% endif %}
    </p>
  </header>

  <div class="entry-content">
  <p><em>
		{% for line in entry.text.splitlines() %}
			{{ line|safe }} <br />
		{% endfor %}
	</em></p>
  </div>
</article>
{% else %}
<article><p><em>Нема записів.... </em></p></article>
{% endfor %}
{% endblock %}
